<section>
    <nav>
        <div class="logoContainer">
            <img src="../../assets/img/Logo.png" alt="logo">
        </div>
    </nav>

    <div class="cardContainer">
        <div class="card">
            <div>
                <div class="formHeadline"> 
                    <img [routerLink]="['/']" src="../../assets/img/arrow_back.png" alt="arrow_back">
                    <h1>Impressum</h1>
                </div>
    

                <p>Kerim Tasci</p>
                <p>Situlistraße 53</p>
                <p>80939 München</p>

            </div>
    
            <div>
                <h2>Kontakt</h2>
                <p>Telefon: 015143310845</p>
                <p>E-Mail: contact&#64;kerim-tasci.de</p>

    
                <p>Quelle: <a href="https://www.e-recht24.de">e-recht24.de</a></p>
            </div>
        </div>
    </div>

</section>